<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping package="netcracker.school.models"/>
		<mapping class="netcracker.school.models.User" />
		<mapping class="netcracker.school.models.UserRole" />
		<mapping class="netcracker.school.models.Book" />
		<mapping class="netcracker.school.models.Category" />
		<mapping class="netcracker.school.models.ReaderPassport" />
		<mapping class="netcracker.school.models.Library" />
		<mapping class="netcracker.school.models.State" />
	</session-factory>
</hibernate-configuration>