    <table>
        <tr>
            <td align="right">Имя</td>
            <td><input type="text" name="firstname" ng-model="editUser.firstname"/></td>
        </tr>
        <tr>
            <td align="right">Фамилия</td>
            <td><input type="text" name="lastname" ng-model="editUser.lastname"/></td>
        </tr>
        <tr>
            <td align="right">Email</td>
            <td><input type="text" name="email" ng-model="editUser.email"/></td>
        </tr>
        <tr>
            <td align="right">Password</td>
            <td><input type="text" name="password" ng-model="editUser.password"/></td>
        </tr>




        <tr>
            <td colspan="2" align="center">
                <div class="btn btn-success" ng-click="saveUser()">Подтвердить</div>
            </td>
        </tr>
    </table>